In [1]:
from CatDTC import CatDTC
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Load Data

In [2]:
df = pd.read_csv('./data/claim_history.csv')

In [3]:
df = df[['CAR_TYPE','OCCUPATION','EDUCATION','CAR_USE']]

In [4]:
df.head()

  CAR_TYPE    OCCUPATION          EDUCATION     CAR_USE
0  Minivan  Professional            Doctors     Private
1  Minivan   Blue Collar        High School  Commercial
2      Van       Manager          Bachelors     Private
3      SUV      Clerical        High School     Private
4  Minivan   Blue Collar  Below High School     Private

In [5]:
df_train , df_test = train_test_split(df,test_size=0.3,random_state=27513,stratify=df['CAR_USE'])

In [6]:
X_train = df_train[['CAR_TYPE','OCCUPATION','EDUCATION']]
y_train = df_train['CAR_USE']
y_train = y_train.replace(to_replace='Commercial',value=1)
y_train = y_train.replace(to_replace='Private',value=0)

X_test = df_test[['CAR_TYPE','OCCUPATION','EDUCATION']]
y_test = df_test['CAR_USE']
y_test = y_test.replace(to_replace='Commercial',value=1)
y_test = y_test.replace(to_replace='Private',value=0)

# Model

In [12]:
dt = CatDTC(max_depth=3)

In [13]:
dt.get_params()

{'criterion': 'entropy',
 'max_depth': 3,
 'threshold': 0.5,
 'ordinalFeatures': None,
 'tree': None}

In [14]:
dt.fit(X_train,y_train)

In [15]:
y_pred = dt.predict(X_test)

In [16]:
accuracy_score(y_pred=y_pred, y_true=y_test)

0.8291814946619217